# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
build/
dist/

# Environments
.env
.env.*
.venv/
venv/
ENV/

# IDEs / Editors
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Node (if any)
node_modules/

# Project-specific
rockyou.txt
